.swiper-container {
	height: 50vh;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-wrapper {
	height: 50vh;
	/*display: flex;*/
	
}

.swiper-slide {
	height: 40%;
	border-radius: 10px;
}