$fonts-path: 'assets/fonts';

/* font colors */
$red: rgba(217, 79, 75, 1);
$red: rgba(179, 28, 23, 1);

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$btc_active: rgba(129, 28, 23, 1);

