.container_packages {
	justify-items: center;
	align-content: start;
	grid-gap: 5em;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(20em, 28em));

	@media screen and (min-width: 1150px) {
		grid-gap: 8em;
	}
}