.header {
	display: grid;
	width: 100%;
	align-content: center;
	align-items: center;
	justify-items: center;

	background-color: $blue;
	padding: 2.4em 4.2em;

	@media screen and (max-width: 1150px) {
		padding: 2.2em 3.5em;
	}

	@media screen and (max-width: 960px) {
		padding: 2em 3em;
	}

	@media screen and (max-width: 768px) {
		padding: 1.5em 2.5em;
	}

	@media screen and (max-width: 350px) {
		padding: 1.2em 1.5em;
	}
}

/* header elements */
@import "__contacts/_header__contacts";
@import "__content/_header__content";
@import "__logo/_header__logo";
@import "__nav/_header__nav";
@import "__search/_header__search";
@import "__menu/_header__menu";