.search__input {
	position: relative;
	border-bottom: 1px solid $white;
	color: $white;
	outline: none;
	display: none;

	&::-moz-placeholder {
		color: $white;
	}
	&::-webkit-input-placeholder {
		color: $white;
	}

	@media screen and (max-width: 1250px) {
		position: relative;
	}
}