/* colors */
$dark-black: #000000;
$black: #19263f;
$light-black: #333333;
$blue: #1657ab;
$light-blue: #287ec2;
$green: #479302;
$dark-green: #2D6001;

$grey: #fafafa;
$light-grey: #fafafa;
$white: #ffffff;

// bootstrap redefinition
$border-radius: 0.2rem;
