.logo {
	fill:#FFFFFF;
	font-family: 'BaronNeue';
	font-size: 19px;
	letter-spacing: 1;
	transform: matrix(1, 0, 0, 1, 0, 15);

	@media screen and (min-width: 780px) {
		padding-top: 0;
		line-height: normal;
		font-size: 22px;
		transform: matrix(1, 0, 0, 1, 0, 16);
	}

	@media screen and (min-width: 960px) {
		font-size: 28px;
		margin: 0 32px;
		transform: matrix(1, 0, 0, 1, 0, 21.5);
	}
}
