$fonts-path: 'assets/fonts';

/* colors */
$white: #fff;
$black: #131313;
$light-orange: #ffa83c;
$red-orange: #ff3000;
$pale-grey: #edf0f5;
$neon-red: #ff0c33;
$dull-orange: #daa82d;
$brown: #a75c3b;
$red: #e10000;
$greyish-brown: #664e45;
$dark-red: #a81a1f;
$light-black: #181818;
$yellow: #ffaa3f;
