.header__logo {
	width: 12.8em;
	height: 1.6em;
	margin-right: 4.3em;

	@media screen and (max-width: 1150px) {
		width: 12em;
	}

	@media screen and (max-width: 900px) {
		margin-right: 0;
		width: 11em;
	}

	@media screen and (max-width: 768px) {
		position: relative;
		z-index: 1;
		width: 10em;
	}
}