.logo__label {
	font-size: 2em;
	font-family: 'Oswald', serif;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;

	span {
		padding: 0.3em;
		background-color: $red;
		color: $white;
	}
}