.teammate {
	display: grid !important;
	grid-gap: 1em;
	align-self: start;
	justify-items: center !important;
	font-size: 0.8em;
	outline: none;

	@media screen and (min-width: $xxs-screen) {
		
	}

	@media screen and (min-width: $xs-screen) {
		
	}

	@media screen and (min-width: $sm-screen) {
		
	}

	@media screen and (min-width: $md-screen) {
		
	}

	@media screen and (min-width: $lg-screen) {
		
	}
	
	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {
		
	}

	@media screen and (min-width: $xxl2-screen) {

	}
}

/* elements */
@import "__img/_teammate__img";
@import "__name/_teammate__name";
@import "__role/_teammate__role";
@import "__link/_teammate__link";