/* achievements of students */
.achievements-of-students { 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.card {
		@include col(5);
	}
}

@media all and (max-width: 992px) {

	.card {
		@include col(8);
	}
}

@media all and (max-width: 576px) {

	.card {
		@include col(16);
	}

}