.contacts {
	@include col(12);
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around;
}
	.about-me-info {
		-webkit-box-shadow: none;
		box-shadow: none;

	}

@media all and (max-width: 992px) {

	.about-me-info {
		@include col(16);
	}
}

@media all and (max-width: 768px) {
	.about-me-info {
		@include col(18);
	}
}

@media all and (max-width: 576px) {
	.feedback {
		@include col(18);
	}
}