.educational-materials {
	@include col(18);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
		.preview_small {
			@include col(6);

			span {
				height: 25vmin;
			}

			img {
				opacity: 0.2;
			}
		}
}

@media all and (max-width: 1200px) {

}

@media all and (max-width: 992px) {
	.educational-materials {
		margin: $margin*5;
	}
}

@media all and (max-width: 768px) {
	.educational-materials {
		.preview_small {
			@include col(9);

			span {
				height: 30vmin;
			}
		}
	}	
	
}

@media all and (max-width: 576px) {
	.educational-materials {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		.preview_small {
			@include col(16);

			span {
				height: 35vmin;
			}
		}
	}	
}