
.news {
	@include col(12);
}

.sidebar {
	@include col(5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.feedback-form__group {
	margin: $margin*3 0;
	input {
		width: 100%;
		padding: $padding*2;
	}
	
	textarea {
		resize: none;
		width: 100%;
		padding: $padding*2;
		outline-color: #212121;
		border-radius: 3px;
	}
}

.small {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: $margin*10;
	-webkit-box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
}

.preview_small {
	@include col(9);
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	word-wrap: break-word;
	background-clip: border-box;	
	border-radius: 15px;
	background-color: rgba(0,0,0, 0.9);
	text-align: center;

	span {
		border-radius: 15px;
		height: 30vmin;
		width: 100%;
	}

	img {
		opacity: 0.4;
		border-radius: 15px;
	}

	.preview_small-header {
		color: #fff;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1000;
		width: 100%;

		a {
			color: #fff;

			&:hover {
				color: $btnColor;
			}
		}
	}
}

.preview__overlay {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	padding: $padding*5;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 15px;
}



.pagination {
	@include col(20);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	i {
		margin: $margin;
	}

	.pagination__link:hover {
		opacity: 1;
	}
}

.pagination__link {
	margin: 0 $margin*2;
	font-size: rem(14);
	font-weight: 600;
	text-transform: uppercase;
	color: #212121;
	opacity: 0.2;
}

.social-media {
	padding: $padding*6 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	h3 {
		margin-top: 0;
		margin-bottom: $margin;
	}
	.socials {
		padding: 0;
		margin: 0;
	}
}

.social__icon {
	span {
		color: #212121;
	}
	span:hover {
		color: $btnColor;
	}
}

.preview-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	margin: $margin*5;
}

.preview__text {
	@include col(12);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	p {
		margin-bottom: 0;
	}

	h4 {
		a {
			color: #212121;

			&:hover {
				color: $btnColor;
			}
		}
	}
}

.preview__img {
	@include col(7);

	img {
		width: 100%;
		max-height: 35vmin;
	}
}

.preview__date {
	color: #212121;
	opacity: 0.4;
	padding: 0;
	margin: 0;
}

.preview__header {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	color: #212121;
	text-decoration: none;
	margin:0;
}

.hobby-news {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	.preview__header {
		margin: 0;
		padding: 0;

		a {
			color: #212121;

			&:hover {
				color: $btnColor;
			}
		}
	}
}

.hobby-preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: $padding*2 0;
	font-size: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	.preview__text {
		margin-bottom: 0;
	}
}

@media all and (max-width: 992px) {

	.news {
		@include col(16);
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
	}

	.preview_small {
		span {
			height: 35vmin;
		}
	}

	.preview-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.preview__text {
		@include col(20);

		p {
			margin-bottom: $margin*5;
		}
	}

	.preview__img {
		@include col(20);
	}

	.preview__img {
		margin-left: 0;

		img {
			width: 100%;
			max-height: 65vmin;
		}
	}

	.news {
		padding-right: 0;
	}

	.sidebar {
		display: none;
		padding-left: 0;
	}
}

@media all and (max-width: 768px) {

	.news {
		@include col(18);
	}

	.preview__header {
		margin-top: $margin*3;
	}
	
	.small {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.pagination__link {
		font-size: rem(13);
	}
}

@media all and (max-width: 576px) {

	.preview {
		margin-bottom: $margin*8;
	}

	.preview_small {
		@include col(16);

		span {
			height: 40vmin;
		}
	}

	.small {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}