.services {
	@include col(18);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-item-align: center;
	    align-self: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	.card {
		@include col(6);
		margin: 0;
	}
}

@media all and (max-width: 768px) {
	.services {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		.card {
			@include col(10);
			margin: $margin*5;
		}
	}
}

@media all and (max-width: 576px) {
	.services {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		.card {
			@include col(16);
		}
	}
}