
.tasks {
	@include col(18);
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	    
	header {
		text-align: center;
	}
}

.task {
	border-bottom: 1px solid #e9e9e9;
	padding: $padding*6 0;
}

.answer-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	.btn {
		padding: $padding*1.5 $padding*3.5;
		margin-left: $margin;
	}
}

@media all and (max-width: 576px) {
	.answer-form {

		input {
			margin-right: $margin;
		}

		.btn {
			margin: $margin*2 $margin*2 $margin*2 0;
		}
	}
}