.nav__item_header_main {
  &:first-child {
    a.nav__link_header_main {
      &:after {
        display: inline-block;
        position: relative;
        top: 1.6px;
        content: '>';
        transform: rotate(90deg);
        margin-left: 6px;
      }
    }

    @media screen and (min-width: 992px) {
      &:hover > ul {
        display: block;
        grid-auto-flow: row;
        position: absolute;
        top: 0;
        left: 5.15em;
        opacity: 1;
        z-index: 100;
        transition: all 0.3s ease;
      }
    }
  }
}
