.contacts {
	justify-self: end;

	display: flex;

	font-family: Gilroy;
	font-size: em(16);
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.11;
	letter-spacing: normal;
	color: $white;

	@media all and (min-width: $xl) {
		font-size: em(16);
	}

	@media all and (min-width: $xxl) {
		font-size: em(19);
	}
}

@import "__slash/_contacts__slash";