.gallery__item {
	display: grid;
	/*background: url('./assets/img/photo/IMG_0271.JPG') center center no-repeat;*/
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 10px;
	height: 200vh;
	width: auto !important;
	margin: 0.75em;

	@media screen and (min-width: $xxs-screen) {
		
	}

	@media screen and (min-width: $xs-screen) {
		
	}

	@media screen and (min-width: $sm-screen) {
		
	}

	@media screen and (min-width: $md-screen) {
		
	}

	@media screen and (min-width: $lg-screen) {
		
	}
	
	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {
		
	}

	@media screen and (min-width: $xxl2-screen) {

	}
}