.button__title_distributors {
	@include section__paragraph;
	border-bottom: 1px solid $white;
	font-weight: 900;
	margin-left: 1em;

	@media screen and (max-width: 960px) {
		border: 0;
		text-decoration: underline;
	}
}