.nav__link {
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: $light-blue;
    transition: all 0.2s ease;
  }

  &:active {
    color: $blue;
    transition: all 0.2s ease;
  }
}
//  nav__link mods
@import "./_footer/nav__link_footer";
@import "./_header/nav__link_header";
