.header__search {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	align-content: center;
	cursor: pointer;
	grid-gap: 1em;

	@media screen and (max-width: 1250px) {
		margin-left: auto;
	}

	@media screen and (max-width: 960px) {
		display: none;
	}
}