.feedback-form__select {
	color: $white;
	border-radius: 8px;
	border: 1px solid $white;
	background-color: transparent;
	font-family: Gilroy;
	font-size: em(20);
	font-weight: 300;
	text-align: center;
	text-align-last: center;
	font-weight: bold;
	margin: 0 (30px / 1920px * 100%) 0 0;
	flex: 1;

	@media all and (max-width: 1200px) {

	}
	
	@media all and (max-width: 1000px) {

	}
	
	@media all and (max-width: 800px) {
	}

	@media all and (max-width: 600px) {
		margin: (6px / 375px * 100%) 0;
		padding: (16px / 375px * 100%) (50px / 375px * 100%);
	}

}

.feedback-form__select option {
	background-color: $white;
	color: $white;
	font-weight: bold;
}