.section__link_sertificates {
	@include link_hover;

	display: grid;
	align-items: center;
	grid-auto-flow: column;
	
	color: $blue;
	text-decoration: none;
	fill: none;
	stroke: $blue;


	&:hover {
		transition: all 0.2s ease;
		stroke: $link_hover;
	}

	svg {
		position: relative;
		left: 0.5em;
	}

	@media screen and (max-width: 960px) {
		justify-self: start;
	}
}