.widget {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0.3em 1.3em;
	align-content: start;
	
	@media screen and (min-width: $xxs-screen) {
		
	}

	@media screen and (min-width: $xs-screen) {
		
	}

	@media screen and (min-width: $sm-screen) {
		
	}

	@media screen and (min-width: $md-screen) {
		
	}

	@media screen and (min-width: $lg-screen) {
		
	}
	
	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {
		
	}

	@media screen and (min-width: $xxl2-screen) {

	}
}

/* widget elements */
@import "__description/_widget__description";
@import "__icon/_widget__icon";
@import "__title/_widget__title";

/* widget mods */