.logo__img {
	min-width: 8rem;
	min-height: 2.7rem;
	background: url('./assets/icons/logo.png') center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;

	@media screen and (min-width: $xxs-screen) {

	}

	@media screen and (min-width: $xs-screen) {

	}

	@media screen and (min-width: $sm-screen) {

	}

	@media screen and (min-width: $md-screen) {

	}

	@media screen and (min-width: $lg-screen) {

	}

	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {

	}

	@media screen and (min-width: $xxl2-screen) {

	}
}

.logo__img_white {
	min-width: 8rem;
	min-height: 2.7rem;
	background: url('./assets/icons/logo_white.svg') center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;

	@media screen and (min-width: $xxs-screen) {

	}

	@media screen and (min-width: $xs-screen) {

	}

	@media screen and (min-width: $sm-screen) {

	}

	@media screen and (min-width: $md-screen) {

	}

	@media screen and (min-width: $lg-screen) {

	}

	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {

	}

	@media screen and (min-width: $xxl2-screen) {

	}
}
