.button {
	background-color: transparent;
	border: none;
	padding: 0;

	@media screen and (min-width: $xxs-screen) {

	}

	@media screen and (min-width: $xs-screen) {

	}

	@media screen and (min-width: $sm-screen) {

	}

	@media screen and (min-width: $md-screen) {

	}

	@media screen and (min-width: $lg-screen) {

	}

	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {

	}

	@media screen and (min-width: $xxl2-screen) {

	}
}

/* button elements */
@import "__icon/_button__icon";
@import "__label/_button__label";

/* button modificators */
@import "_modal/_button_modal";
@import "_fixed/_button_fixed";
@import "_submit/_button_submit";
@import "_close/_button_close";
@import "_hidden/_button_hidden";
