.team {
	@include page-padding;

	display: grid;
	background: url('assets/img/bg/fon3.png') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	color: $white;
	align-content: start;
	align-items: center;
	justify-content: center;
	justify-items: center;
	
	grid-gap: 5em;

	overflow-y: auto;

	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}

	@media screen and (min-width: $xxs-screen) {
		
	}

	@media screen and (min-width: $xs-screen) {
		
	}

	@media screen and (min-width: $sm-screen) {
		
	}

	@media screen and (min-width: $md-screen) {
		
	}

	@media screen and (min-width: $lg-screen) {
		
	}
	
	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {
		
	}

	@media screen and (min-width: $xxl2-screen) {

	}
}

@import "__slick-slider/_team__slick-slider";