.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;

  height: 100vh;
  width: 100vw;
  background-color: $black;

  @media screen and (min-width: 992px) {
    display: block;
    transform: translateX(0);
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
  }
}

// header__nav mods
@import "./_active/header__nav_active";
