.menu__item {
	display: grid;
	color: $white;
	text-align: center;
	align-items: center;

	cursor: pointer;
}

/* menu__item mods */
@import "_gradient/_menu__item_gradient";
@import "_jumping/_menu__item_jumping";
@import "_transforming/_menu__item_transforming";
@import "_vanishing/_menu__item_vanishing";
@import "_hover/_menu__item_hover";