.link_confidentional_footer {
	opacity: 0.42;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.6px;
	color: $white;
	text-decoration: none;

	@media screen and (min-width: 960px) {
		justify-self: end;
	}
}

