.section__description_first {

	@media screen and (min-width: 960px) {
		max-width: 70%;
	}
	@media screen and (min-width: 1150px) {
		max-width: 60%;
	}
	@media screen and (min-width: 1300px) {
		max-width: 47%;
	}
}

