.form_modal {
	display: grid;
	grid-row-gap: 1.5em;
	grid-column-gap: 0.5em;
	justify-self: center;
	grid-template-columns: auto auto;


	@media screen and (min-width: $xxs-screen) {
		width: 90%;
	}

	@media screen and (min-width: $xs-screen) {
		
	}

	@media screen and (min-width: $sm-screen) {
		
	}

	@media screen and (min-width: $md-screen) {
		
	}

	@media screen and (min-width: $lg-screen) {
		
	}
	
	@media screen and (min-width: $xl-screen) {

	}

	@media screen and (min-width: $xxl-screen) {
		
	}

	@media screen and (min-width: $xxl2-screen) {

	}
}