.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 5vh;

	@media all and (max-width: $sm) {
		padding-bottom: 0;
	}
}

@import "_align-bottom/_container_align-bottom";