.menu__img {
	width: 12px;
	height: 12px;
	background-image: url('../img/menu.svg');
	-webkit-background-size: contain;
	background-size: contain;
	justify-self: center;
	align-self: center;

	@media all and (min-width: $xs) {
		
	}
}