.account__feed {
  flex-basis: auto;
  display: grid;
  grid-gap: 24px;
  width: 243px;
  margin-top: 2em;

  @media screen and (min-width: 680px) {
    margin-top: 0;
    margin-left: 16px;
  }

  @media screen and (min-width: 935px) {
    width: calc(243px * 2 + 16px);
  }
  @media screen and (min-width: 1195px) {
    width: calc(243px * 3 + 16px * 2);
  }
  @media screen and (min-width: 1440px) {
    width: 100%;
  }
}
