@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("assets/fonts/GothamPro.woff2") format("woff2"), url("assets/fonts/GothamPro.woff") format("woff"), url("assets/fonts/GothamPro.ttf") format("truetype"), url("assets/fonts/GothamPro.svg#Gotham Pro") format("svg"); }
@font-face {
  font-family: "Gotham Pro Black";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("assets/fonts/GothamProBlack.woff2") format("woff2"), url("assets/fonts/GothamProBlack.woff") format("woff"), url("assets/fonts/GothamProBlack.ttf") format("truetype"), url("assets/fonts/GothamProBlack.svg#Gotham Pro Black") format("svg"); }
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: 'Gotham Pro', sans-serif;
  color: #212121;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px; }

html {
  min-height: 100vh; }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  padding: 5px;
  font-size: 12px;
  color: #212121;
  border: 1px solid #212121;
  outline-color: #212121;
  border-radius: 3px; }
  input[type="color"]:focus::-webkit-input-placeholder, input[type="date"]:focus::-webkit-input-placeholder, input[type="datetime"]:focus::-webkit-input-placeholder, input[type="datetime-local"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="month"]:focus::-webkit-input-placeholder, input[type="number"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="search"]:focus::-webkit-input-placeholder, input[type="tel"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="time"]:focus::-webkit-input-placeholder, input[type="url"]:focus::-webkit-input-placeholder, input[type="week"]:focus::-webkit-input-placeholder, input:not([type]):focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: transparent; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  background-color: #f82544;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #f82544;
  padding: 10px 20px;
  border-radius: 10px; }
  button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    border: 1px solid #ff2544;
    background-color: #ff2544; }
  button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
    border: 1px solid #BA4354;
    background-color: #BA4354; }

h1, h2, h3, h4, h5 {
  font-family: 'Gotham Pro Black', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%; }

.icon {
  display: inline-block; }
  .icon img {
    width: 34px; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 0 4px 1px rgba(28, 29, 18, 0.21);
  box-shadow: 0 0 4px 1px rgba(28, 29, 18, 0.21);
  margin: 20px; }

.card__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.card__header span {
  height: 25vmin;
  display: block; }

.card__body {
  -webkit-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
  padding: 20px; }

.card__footer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 20px;
  margin-top: 0; }

/* main */
main {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 20%; }

.main-header {
  width: 90%;
  margin: 20px 0;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title {
  vertical-align: middle;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .title span {
    vertical-align: middle;
    margin-right: 10px; }
  .title h3 {
    display: inline-block;
    margin: 0;
    padding: 0; }

.search {
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .search input {
    vertical-align: middle; }
  .search span {
    vertical-align: middle;
    margin-left: 10px; }
  .search .fa-search {
    color: #212121; }

@media all and (max-width: 1200px) {
  .main {
    margin-left: 0; } }
#main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.news {
  width: 65%; }

.sidebar {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.feedback-form__group {
  margin: 15px 0; }
  .feedback-form__group input {
    width: 100%;
    padding: 10px; }
  .feedback-form__group textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    outline-color: #212121;
    border-radius: 3px; }

.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07); }

.preview_small {
  width: 45%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center; }
  .preview_small span {
    border-radius: 15px;
    height: 30vmin;
    width: 100%; }
  .preview_small img {
    opacity: 0.4;
    border-radius: 15px; }
  .preview_small .preview_small-header {
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1000;
    width: 100%; }
    .preview_small .preview_small-header a {
      color: #fff; }
      .preview_small .preview_small-header a:hover {
        color: #f82544; }

.preview__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: 25px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px; }

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .pagination i {
    margin: 5px; }
  .pagination .pagination__link:hover {
    opacity: 1; }

.pagination__link {
  margin: 0 10px;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #212121;
  opacity: 0.2; }

.social-media {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .social-media h3 {
    margin-top: 0;
    margin-bottom: 5px; }
  .social-media .socials {
    padding: 0;
    margin: 0; }

.social__icon span {
  color: #212121; }
.social__icon span:hover {
  color: #f82544; }

.preview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 25px; }

.preview__text {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .preview__text p {
    margin-bottom: 0; }
  .preview__text h4 a {
    color: #212121; }
    .preview__text h4 a:hover {
      color: #f82544; }

.preview__img {
  width: 35%; }
  .preview__img img {
    width: 100%;
    max-height: 35vmin; }

.preview__date {
  color: #212121;
  opacity: 0.4;
  padding: 0;
  margin: 0; }

.preview__header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #212121;
  text-decoration: none;
  margin: 0; }

.hobby-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hobby-news .preview__header {
    margin: 0;
    padding: 0; }
    .hobby-news .preview__header a {
      color: #212121; }
      .hobby-news .preview__header a:hover {
        color: #f82544; }

.hobby-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0;
  font-size: 15px; }
  .hobby-preview:last-child {
    margin-bottom: 0; }
  .hobby-preview .preview__text {
    margin-bottom: 0; }

@media all and (max-width: 992px) {
  #main-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .news {
    width: 80%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

  .preview_small span {
    height: 35vmin; }

  .preview-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .preview__text {
    width: 100%; }
    .preview__text p {
      margin-bottom: 25px; }

  .preview__img {
    width: 100%; }

  .preview__img {
    margin-left: 0; }
    .preview__img img {
      width: 100%;
      max-height: 65vmin; }

  .news {
    padding-right: 0; }

  .sidebar {
    display: none;
    padding-left: 0; } }
@media all and (max-width: 768px) {
  .news {
    width: 90%; }

  .preview__header {
    margin-top: 15px; }

  .small {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .pagination__link {
    font-size: 0.8125rem; } }
@media all and (max-width: 576px) {
  .preview {
    margin-bottom: 40px; }

  .preview_small {
    width: 80%; }
    .preview_small span {
      height: 40vmin; }

  .small {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
/* about me page */
#about-me {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center; }

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
  margin-bottom: 40px; }

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 40px; }
  .about-me__content span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.about-me__text {
  -webkit-box-flex: 1.7;
  -ms-flex: 1.7;
  flex: 1.7;
  padding-right: 50px; }

/* sertificats */
.sertificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px; }
  .sertificates header {
    margin-bottom: 20px; }
  .sertificates .slide__item {
    margin: 20px;
    border-top: 13px solid #212121;
    border-right: 10px solid #212121;
    border-bottom: 13px solid #212121;
    border-left: 10px solid #212121; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .slider .control {
    margin: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0; }

/* CV */
.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 40px; }
  .cv header {
    margin-bottom: 40px; }
  .cv .slide {
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), #fff url("./img/regnum-picture-14628907753591480-normal-jpg.jpg") center center no-repeat;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #fff url("./img/regnum-picture-14628907753591480-normal-jpg.jpg") center center no-repeat;
    background-size: cover; }
  .cv .slide__item {
    -webkit-box-shadow: 0 0 47px 7px rgba(28, 29, 18, 0.13);
    box-shadow: 0 0 47px 7px rgba(28, 29, 18, 0.13);
    border-radius: 10px;
    padding: 30px; }
    .cv .slide__item span {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .cv .slide__text {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding-right: 20px; }
  .cv button {
    margin-top: 25px; }

@media all and (max-width: 992px) {
  .about-me__text {
    padding-right: 20px; }

  .slide__text {
    padding-top: 20px; } }
@media all and (max-width: 768px) {
  .cv .slide__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .cv .slide__text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }

  .slide__item {
    margin: 0; }

  .about-me__text {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; } }
@media all and (max-width: 576px) {
  #about-me {
    margin: 0; }

  .about-me__content {
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-me__content span {
      width: 100%; }

  .about-me__text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-top: 10px;
    padding-right: 10px; }

  .sertificates .slide__item {
    margin: 0; }

  .slide__text {
    padding-top: 10px; }

  .slider .control {
    margin: 0; }
  .slider .control:first-child {
    margin-right: 10px; }
  .slider .control:last-child {
    margin-left: 10px; }

  .cv .slide__item {
    padding: 10px; } }
#achievements-of-pupils {
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 50px;
  /* scroll */ }
  #achievements-of-pupils .slider header {
    text-align: center; }
  #achievements-of-pupils .slider .control {
    border-radius: 50%; }
    #achievements-of-pupils .slider .control:hover {
      background-color: #f5f5f5;
      color: #f82544; }
  #achievements-of-pupils .slider .control__left {
    padding: 10px 30px 10px 25px; }
  #achievements-of-pupils .slider .control__right {
    padding: 10px 25px 10px 30px; }
  #achievements-of-pupils .slider .slide {
    -webkit-box-shadow: 0 0 21px 3px rgba(28, 29, 18, 0.31);
    box-shadow: 0 0 21px 3px rgba(28, 29, 18, 0.31); }
  #achievements-of-pupils .slide__item {
    padding: 25px 40px 70px 25px;
    overflow-y: scroll;
    max-height: 60vmin; }
  #achievements-of-pupils ::-webkit-scrollbar {
    width: 5px;
    background-color: #eaeaea; }
  #achievements-of-pupils ::-webkit-scrollbar-thumb {
    background-color: #f82544;
    border-radius: 3px; }

/* media Laptop */
@media all and (max-width: 992px) {
  #achievements-of-pupils .slider .control {
    padding: 0; }
  #achievements-of-pupils .slide__item {
    padding: 25px;
    max-height: 70vmin; } }
/* media Tablet */
@media all and (max-width: 768px) {
  #achievements-of-pupils .slider .control {
    padding: 0; }
  #achievements-of-pupils .slide__item {
    padding: 25px;
    max-height: 80vmin; } }
/* media mobile */
@media all and (max-width: 576px) {
  #achievements-of-pupils .slider .control {
    padding: 0; }
  #achievements-of-pupils .slide__item {
    padding: 15px;
    max-height: 90vmin; } }
/* achievements of students */
#achievements-of-students {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #achievements-of-students .card {
    width: 30%; }

@media all and (max-width: 992px) {
  #achievements-of-students .card {
    width: 40%; } }
@media all and (max-width: 576px) {
  #achievements-of-students .card {
    width: 80%; } }
#contacts {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px 0;
  align-self: center; }
  #contacts .about-me {
    width: 60%;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #contacts .about-me__content {
    padding: 0; }
  #contacts .about-me__text {
    margin: 0;
    padding: 0; }
  #contacts .feedback {
    width: 30%; }

@media all and (max-width: 992px) {
  #contacts .about-me {
    width: 50%; }
  #contacts .feedback {
    width: 40%; } }
@media all and (max-width: 768px) {
  #contacts {
    margin: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #contacts .about-me {
      width: 80%; }
    #contacts .feedback {
      width: 80%; } }
@media all and (max-width: 576px) {
  #contacts {
    margin: 25px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #contacts .about-me {
      width: 90%; }
    #contacts .feedback {
      width: 90%; } }
#educational-materials {
  width: 90%;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px 0; }
  #educational-materials .preview_small {
    width: 30%; }
    #educational-materials .preview_small span {
      height: 25vmin; }
    #educational-materials .preview_small img {
      opacity: 0.2; }

@media all and (max-width: 992px) {
  #educational-materials {
    margin: 25px; } }
@media all and (max-width: 768px) {
  #educational-materials .preview_small {
    width: 45%; }
    #educational-materials .preview_small span {
      height: 30vmin; } }
@media all and (max-width: 576px) {
  #educational-materials {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #educational-materials .preview_small {
      width: 80%; }
      #educational-materials .preview_small span {
        height: 35vmin; } }
#parts {
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.parts-list {
  text-align: center;
  list-style: none;
  padding: 0; }

.parts__item a {
  color: #212121;
  text-decoration: none;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 600; }
.parts__item a:hover {
  color: #f82544; }

#hobby-news {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  #hobby-news .preview {
    width: 45%; }
  #hobby-news .preview__text {
    width: 100%; }

@media all and (max-width: 768px) {
  #hobby-news .preview {
    width: 80%; } }
@media all and (max-width: 576px) {
  #hobby-news .preview {
    width: 90%; } }
#hobby {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #hobby .card {
    width: 30%;
    margin: 0; }

@media all and (max-width: 768px) {
  #hobby {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #hobby .card {
      width: 50%;
      margin: 25px; } }
@media all and (max-width: 576px) {
  #hobby {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #hobby .card {
      width: 80%; } }
#presentations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px 0; }

.presentations {
  width: 90%; }
  .presentations tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    padding: 30px 0; }
    .presentations tr td:first-child {
      width: 70%; }
    .presentations tr a {
      color: #212121; }
      .presentations tr a:hover {
        color: #f82544; }

@media all and (max-width: 768px) {
  .presentations td:first-child {
    width: 80%; } }
@media all and (max-width: 576px) {
  .presentations td:first-child {
    width: 100%; } }
#services {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #services .card {
    width: 30%;
    margin: 0; }

@media all and (max-width: 768px) {
  #services {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #services .card {
      width: 50%;
      margin: 25px; } }
@media all and (max-width: 576px) {
  #services {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #services .card {
      width: 80%; } }
#tasks {
  width: 90%;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0 50px; }
  #tasks header {
    text-align: center; }

.tasks {
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.task {
  border-bottom: 1px solid #e9e9e9;
  padding: 30px 0; }

.answer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .answer-form .btn {
    padding: 7.5px 17.5px;
    margin-left: 5px; }

@media all and (max-width: 576px) {
  .answer-form input {
    margin-right: 5px; }
  .answer-form .btn {
    margin: 10px 10px 10px 0; } }
/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0.875rem;
  -webkit-box-shadow: 0 0 14px 2px rgba(28, 29, 18, 0.09);
  box-shadow: 0 0 14px 2px rgba(28, 29, 18, 0.09);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.footer-col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px; }
  .footer-col ul {
    list-style: none;
    padding-left: 0; }

.list__item a {
  text-decoration: none;
  color: #000; }

.list__item a:hover {
  color: #f82544; }

.social__icon {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  color: #000; }

.label {
  display: none; }

@media all and (max-width: 576px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center; }

  .footer-col {
    margin: 10px 0; } }
/* navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 60, 76, 0.8)), to(rgba(55, 60, 76, 0.8))), url("img/janko-ferlic-174927-jpg.jpg") center center no-repeat;
  background: linear-gradient(rgba(55, 60, 76, 0.8), rgba(55, 60, 76, 0.8)), url("img/janko-ferlic-174927-jpg.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  min-width: 20%; }
  .navbar ul {
    list-style: none;
    padding-left: 0;
    line-height: 2.5rem;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase; }

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.navbar__title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.4375rem;
  color: #fff;
  font-family: 'Gotham Pro Black'; }

.nav {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.nav__link {
  color: #fff;
  display: block;
  text-decoration: none;
  padding-left: 25px; }

.nav__link:active {
  border-left: 3px solid #e4394d; }

.nav__link:visited {
  border-left: 3px solid #e4394d;
  background: -webkit-gradient(linear, left top, right top, from(rgba(114, 114, 114, 0.4)), to(rgba(114, 114, 114, 0)));
  background: linear-gradient(to right, rgba(114, 114, 114, 0.4), rgba(114, 114, 114, 0)); }

.nav__link:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(114, 114, 114, 0.4)), to(rgba(114, 114, 114, 0)));
  background: linear-gradient(to right, rgba(114, 114, 114, 0.4), rgba(114, 114, 114, 0)); }

span.fa-bars {
  color: #fff;
  display: none;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

@media all and (max-width: 1200px) {
  .navbar {
    width: 100%;
    height: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    padding: 0 40px; }

  .navbar-header {
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .nav {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: none;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .nav__link {
    padding: 0; }

  .nav__link:active {
    border-left: 0; }

  .nav__link:visited {
    border-left: 0;
    background-color: rgba(114, 114, 114, 0.4); }

  .nav__link:hover {
    background-color: rgba(114, 114, 114, 0.4); }

  .logo {
    display: none; }

  span.fa-bars {
    display: inline-block;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; } }
@media all and (max-width: 1200px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .card {
    width: 35%; } }
@media all and (max-width: 992px) {
  .card {
    width: 40%; }

  button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-size: 12px; } }
@media all and (max-width: 768px) {
  html, body {
    font-size: 0.875rem; }

  button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-size: 11px; }

  .card {
    width: 60%; }

  .hidden-sm-down {
    display: none; } }
@media all and (max-width: 576px) {
  button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-size: 10px; }

  .hidden-xs-down {
    display: none; }

  .card {
    width: 80%; }

  .card__header span {
    height: 35vmin; } }

/*# sourceMappingURL=style.css.map */
