#parts {
	@include col(18);
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.parts-list {
	text-align: center;
	list-style: none;
	padding: 0;
}

.parts__item {
	a {
		color: #212121;
		text-decoration: none;
		line-height: 1.5;
		font-size: 24px;
		font-weight: 600;
	}

	a:hover {
		color: $btnColor;
	}
}