#presentations {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: $margin*10 0;
}

.presentations {
	@include col(18);

	tr {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		border-bottom: 1px solid #e9e9e9;
		padding: $padding*6 0;
		td:first-child {
			@include col(14);
		}

		a {
			color: #212121;

			&:hover {
				color: $btnColor;
			}
		}
	}
}

@media all and (max-width: 768px) {
	.presentations {
		td:first-child {
			@include col(16);
		}
	}
}

@media all and (max-width: 576px) {
	.presentations {
		td:first-child {
			@include col(20);
		}
	}
}