.section__paragraph_main {
  color: $light-grey;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 40px 0;
  @media screen and (min-width: 350px) {
    font-size: 15px;
    line-height: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 26px;
  }
  @media screen and (min-width: 992px) {
    font-size: 17px;
    line-height: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }
}
