.form__label {
	font-size: 1.15em;

	@media screen and (min-width: $xxs-screen) {
		font-size: 1em;
	}

	@media screen and (min-width: $xs-screen) {
	}

	@media screen and (min-width: $sm-screen) {
		
	}

	@media screen and (min-width: $md-screen) {
		
	}

	@media screen and (min-width: $lg-screen) {
		
	}
	
	@media screen and (min-width: $xl-screen) {
		font-size: 0.9em;
	}

	@media screen and (min-width: $xxl-screen) {
		
	}

	@media screen and (min-width: $xxl2-screen) {

	}
}