.block__title_steps {
	font-size: 4.2em;
	line-height: 1.14em;
	font-weight: 900;
	color: $white;
	margin: 0;

	@media screen and (max-width: 1350px) {
		font-size: 4em;
	}

	@media screen and (max-width: 1150px) {
		font-size: 3.6em;
	}

	@media screen and (max-width: 960px) {
		font-size: 3.2em;
	}

	@media screen and (max-width: 770px) {
		font-size: 2.8em;
	}

	@media screen and (max-width: 580px) {
		font-size: 2.2em;
	}

	@media screen and (max-width: 350px) {
		font-size: 1.8em;
	}
}