.features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 6em;
	align-content: start;


	@media screen and (max-width: 960px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 450px) {
		grid-gap: 2em;
	}	
}

/* features elements */
@import "__block/_features__block";