.card__number-of-subcribers {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: $dark;
  margin-bottom: 4px;
}
