/* variables */
@import "variables";

* {
	box-sizing: border-box;
}

html, body {
	background-color: $white;
	font-size: 15px;
	font-weight: normal;
	display: grid;
	justify-items: center;
	align-content: start;

	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* common.pages */
@import "common/common.pages/pages";

/* common.modules */
@import "common/common.modules/modules";

/* common.blocks */
@import "common/common.blocks/blocks";



