// font path
$fonts-path: 'assets/fonts';

// colors
$white: #ffffff;
$dark: #282a36;
$steel: #808792;
$pale-grey: #f3f4f6;
$cerulean-blue: #0063da;
$silver: #cbd0d8;
$cool-grey: #a6a9b7;

$social__icon_vk: #007bed;
$social__icon_facebook: #1a32af;
$social__icon_twitter: #1faee9;
$social__icon_google-plus: #ff5a3c;
$social__icon_youtube: #fc2e5f;
$social__icon_odnoklassniki: #f5a623;

// socials bg
$odnoklassniki__bg: #f5a623;
$youtube__bg: #fc2e5f;
$googleplus__bg: #ff5a3c;
$twitter__bg: #1faee9;
$facebook__bg: #1a32af;
$vk__bg: #007bed;

// box shadow
$card__boxshadow: 0 2px 8px 0 rgba(40, 42, 54, 0.04);
$card__boxshadow-2: 0 2px 14px 0 rgba(48, 62, 71, 0.07);

// border radius
$card__br: 2px;
$button__br: 16px;
$img_br: 50%;
$img_br_profile: 16px;
